{# footer #}
<footer class="main-footer dark-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <img height="150" src="{{ asset('images/logo.png') }}" alt="">
            </div>
            {# about #}
            <div class="col-md-3">
                <div class="footer-widget fl-wrap">
                    <h3>À propos</h3>
                    <div class="footer-contacts-widget fl-wrap">
                        <p>Site créé et maintenu par des élèves de l'ESGI, École Supérieure de Génie Informatique.</p>
                        
                    </div>
                </div>
            </div>
            {# about end #}
            {# contact #}
            <div class="col-md-3">
                <div class="footer-widget fl-wrap">
                    <h3>Contact</h3>
                    <div class="widget-posts fl-wrap">
                        <ul class="footer-contacts fl-wrap">
                            <li>
                                <span>
                                    <i class="fa fa-envelope-o"></i>
                                    E-mail :</span>
                                <a href="#" target="_blank">contact@serveat.com</a>
                            </li>
                            <li>
                                <span>
                                    <i class="fa fa-map-marker"></i>
                                    Addresse :</span>
                                <a href="#" target="_blank">242 Rue du Faubourg Saint-Antoine, 75012 Paris</a>
                            </li>
                            <li>
                                <span>
                                    <i class="fa fa-phone"></i>
                                    Téléphone :</span>
                                <a href="#">(+33) 01 56 06 90 41</a>
                            </li>
                        </ul>
                        {# <ul>
                            <li class="clearfix">
                                <a class="widget-posts-img" href="#"><img alt="" class="respimg" src="images/all/1.jpg"></a>
                                <div class="widget-posts-descr">
                                    <a href="#" title="">Vivamus dapibus rutrum</a>
                                    <span class="widget-posts-date">
                                        21 Mar 09.05
                                    </span>
                                </div>
                            </li>
                            <li class="clearfix">
                                <a class="widget-posts-img" href="#"><img alt="" class="respimg" src="images/all/1.jpg"></a>
                                <div class="widget-posts-descr">
                                    <a href="#" title="">
                                        In hac habitasse platea</a>
                                    <span class="widget-posts-date">
                                        7 Mar 18.21
                                    </span>
                                </div>
                            </li>
                            <li class="clearfix">
                                <a class="widget-posts-img" href="#"><img alt="" class="respimg" src="images/all/1.jpg"></a>
                                <div class="widget-posts-descr">
                                    <a href="#" title="">Tortor tempor in porta</a>
                                    <span class="widget-posts-date">
                                        7 Mar 16.42
                                    </span>
                                </div>
                            </li>
                        </ul> #}
                    </div>
                </div>
            </div>
            {# contact end #}
            {# newsletter #}
            {# <div class="col-md-3">
                <div class="footer-widget fl-wrap">
                    <h3>Newsletter</h3>
                    <div class="subscribe-widget fl-wrap">
                        <p>Want to be notified when we launch a new template or an udpate. Just sign up and we'll send you a notification by email.</p>
                        <div class="subcribe-form">
                            <form id="subscribe">
                                <input class="enteremail" id="subscribe-email" name="email" placeholder="Email" spellcheck="false" type="text">
                                <button class="subscribe-button" id="subscribe-button" type="submit">
                                    <i class="fa fa-rss"></i>
                                    S'inscrire</button>
                                <label class="subscribe-message" for="subscribe-email"></label>
                            </form>
                        </div>
                    </div>
                    <div class="footer-widget fl-wrap">
                        <div class="footer-menu fl-wrap">
                            <ul>
                                <li><ahref="{{path('front_page_home')}}">Acceuil</a></li>
                                <li><a href="#">Annonces</a></li>
                                <li><ahref="{{path('contact')}}">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div> #}
            {# newsletter end #}
        </div>
    </div>
    <div class="sub-footer fl-wrap">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="about-widget"></div>
                </div>
                <div class="col-md-4">
                    <div class="copyright">
                        &#169; Serveat 2019. All rights reserved.</div>
                </div>
                <div class="col-md-4">
                    <div class="footer-social">
                        <ul>
                            <li><a href="#" target="_blank"><i class="fa fa-facebook-official"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fa fa-chrome"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fa fa-vk"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fa fa-whatsapp"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
{# footer end #}
