{% extends 'base.html.twig' %}

{% block body %}
    <div class="megamenu hidden-xs">
    <div class="megamenu_header hidden-sm">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-12">
            <ul class="megamenu_list">
              <li>
                <a href="#">Standart</a>
              </li>
              <li>
                <a href="#">Standart + icon</a>
              </li>
              <li>
                <a href="#">Link with image + descr</a>
              </li>
              <li>
                <a href="#" class="triagle">Link with descr</a>
              </li>
              <li>
                <a href="#">Custom content</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="megamenu_content">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-2">
            <ul class="megamenu_content_list clearfix">
              <li>
                <a href="#">Home</a>
              </li>
              <li>
                <a href="#">Blog</a>
              </li>
              <li>
                <a href="#">Members</a>
              </li>
              <li>
                <a href="#">Search</a>
              </li>
              <li>
                <a href="#">Help Center</a>
              </li>
              <li>
                <a href="#">Terms of use</a>
              </li>
            </ul>

          </div>
          <div class="col-sm-12 col-md-2">
            <ul class="megamenu_content_list clearfix">
              <li>
                <a href="#"> <i class="fa fa-home"></i>
                  Home
                </a>
              </li>

              <li>
                <a href="#"> <i class="fa fa-pencil-square-o"></i>
                  Blog
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-users"></i>
                  Members
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-flag"></i>
                  Search
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-life-ring"></i>
                  Help Center
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-file-text-o"></i>
                  Terms of use
                </a>
              </li>
            </ul>
          </div>
          <div class="col-sm-5 col-md-3">
            <ul class="megamenu_descr megamenu_descr_one clearfix">

              <li class="">
                <a href="#">
                  <div>
                    <img src="images/members_img5.jpg" alt=""></div>
                  <p>Lorem ipsum dolor sit</p>
                  <p class="descr">Consectetur adipiscing</p>
                </a>
              </li>
              <li class="">
                <a href="#">
                  <div>
                    <img src="images/members_img6.jpg" alt=""></div>
                  <p>Lorem ipsum dolor sit</p>
                  <p class="descr">Consectetur adipiscing</p>
                </a>
              </li>
              <li class="">
                <a href="#">
                  <div>
                    <img src="images/members_img7.jpg" alt=""></div>
                  <p>Lorem ipsum dolor sit</p>
                  <p class="descr">Consectetur adipiscing</p>
                </a>
              </li>
            </ul>
          </div>
          <div class="col-sm-3 col-md-2">
            <ul class="megamenu_descr megamenu_descr_two clearfix">

              <li class="">
                <a href="#">

                  <p>Lorem ipsum dolor sit</p>
                  <p class="descr">Consectetur adipiscing</p>
                </a>
              </li>
              <li class="">
                <a href="#">

                  <p>Lorem ipsum dolor sit</p>
                  <p class="descr">Consectetur adipiscing</p>
                </a>
              </li>
              <li class="">
                <a href="#">

                  <p>Lorem ipsum dolor sit</p>
                  <p class="descr">Consectetur adipiscing</p>
                </a>
              </li>
            </ul>
          </div>
          <div class="col-sm-4 col-md-3">
            <div class="happy_item">
              <div class="h_img">
                <img src="images/happy_img1.jpg" class="img-responsive"  alt="">
                <a href="#" class="happy_like">
                  <i class="fa fa-thumbs-up"></i>
                  12393
                </a>
              </div>
              <h4>
                <a href="#">Alexandr and Mary</a>
              </h4>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!--  bg_fon -->

  <div class="full-page">
    <!-- Page start -->
    <div class="heading-block parallax-window nice-woman" data-parallax="scroll" data-image-src="http://freelance.vioo.ru/wp-content/themes/frame_fl/images/nice-woman.jpg">
      <div class="heading-block-popup"></div>
      <div class="heading-block-s"></div>
      <div class="heading-block-info">
        <ul class="i-1">
          <li class="front-paint">
            <span class='edited' id='edited_desfa'>
              <i class="fa fa-paint-brush"></i>
            </span>
          </li>
          <li class='edited' id='edited_designerscount'>101</li>
          <li class='edited' id='edited_designers'>Designers</li>
          <li class="front-circle">
            <i class="fa fa-circle-o"></i>
          </li>
        </ul>
        <ul class="i-2">
          <li class="front-paint">
            <span class='edited' id='edited_pfa'>
              <i class="fa fa-desktop"></i>
            </span>
          </li>
          <li class='edited' id='edited_pcount'>202 344</li>
          <li class='edited' id='edited_p'>Utilisateurs</li>
          <li class="front-circle">
            <i class="fa fa-circle-o"></i>
          </li>
        </ul>
        <ul class="i-3">
          <li class="front-paint">
            <span class='edited' id='edited_pwriters'>
              <i class="fa fa-desktop"></i>
            </span>
          </li>
          <li class='edited' id='edited_wcount'>20 345</li>
          <li class='edited' id='edited_w'>Writers</li>
          <li class="front-circle">
            <i class="fa fa-circle-o"></i>
          </li>
        </ul>
        <ul class="i-4">
          <li class="front-paint">
            <span class='edited' id='edited_mfa'>
              <i class="fa fa-bullseye"></i>
            </span>
          </li>
          <li class='edited' id='edited_mcount'>332 345</li>
          <li class='edited' id='edited_m'>Marketers</li>
          <li class="front-circle">
            <i class="fa fa-circle-o"></i>
          </li>
        </ul>
        <div class="heading-block-href text-center">
          <h1 >
            Rechercher
            <span class='edited' id='edited_writers'>de l'aide</span>
            ou
            <a href="#" class='edited' id='edited_projects'>des Projets</a>
            :
          </h1>
        </div>
      </div>
    </div>
    <!-- filter -->
    <div class="search_block search_block_index">
      <div>

        <div class="search_block" >
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <form method="get" action="http://freelance.vioo.ru/members/" class="search_container  ">
                  <div class="row sc_f">
                    <div class="col-sm-4 col-md-4">
                      <label class='edited' id='edited_scateg'>Categorie:</label>
                      <select name='place_category'  id='category' class="selectpicker">
                        <option>---</option>
                        <option>Programmer</option>
                        <option>Marketers</option>
                        <option>Design</option>
                        <option>Writer</option>
                      </select>

                    </div>
                    <div class="col-sm-4 col-md-4">

                      <div class="submit_location">
                        <label class='edited' for='edited_labelalocation'>Localisation:</label>
                        <input type="text"  id='edited_labelalocation' name='location' class="location" value='' placeholder=""/>

                        <!-- Help -->
                        <div class="submit_add_message animated">
                          <p></p>
                        </div>
                        <!-- / Help --> </div>

                    </div>
                    <div class="col-sm-4 col-md-4">
                      <label class='edited' id='edited_skills'>Talents</label>
                      :
                      <input type="text" class="location" id="tokenfield-typeahead" name="tags" value="" />

                    </div>
                  </div>
                  <div class="row sc_s marg_off">
                    <div class="col-sm-5 col-md-5">
                      <label class='edited' id='edited_rangelabel'>Temps:</label>
                      <div>

                        <input type="text" id="range" data-min='30' data-max='50' data-from='10' data-to='40' value="" name="range" />

                      </div>
                    </div>
                    <div class="col-sm-5 col-md-5">
                      <div class="checkbox">
                        <input type="checkbox" id="c1"  value=1 name="ccnew" />
                        <label  for="c1">
                          <span></span>
                          <i class='edited' id='edited_tempProusersNewusers1'>Nouvel utilisateur</i>
                        </label>
                        <input type="checkbox" id="c2"  value=1 name="ccpro" />
                        <label   for="c2">
                          <span></span>
                          <i class='edited' id='edited_tempProus'>Utilisateur pro</i>
                        </label>
                        <input type="checkbox" id="c3"  value=1 name="cconline" />
                        <label  for="c3">
                          <span></span>
                          <i class='edited' id='edited_tempProusersOnline'>En ligne</i>
                        </label>
                      </div>
                    </div>
                    <div class="mob_search_bg">
                      <div class="col-sm-2 col-md-2 col-lg-2">
                        <button name="search" value="1" class="search">Rechercher</button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <!-- our_features -->
    <div class="our_features our_f">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h3 class="edited">Our features</h3>
            <div class="line_y"></div>
            <p class="our_features_p edited">
              Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            </p>
          </div>
          <div class="our_features_items">

            <div class="col-md-4 col-sm-4 our_f_item clearfix">
              <div class="feature-icon">
                <i class="fa fa-twitter"></i>
              </div>
              <div class="feature-info">
                <h4 class="our_features_items_h edited" >twitter bootstrap 3</h4>
                <p class="our_features_items_p edited ">
                  Lorem Ipsum is simply  industry. Lorem Ipsum has been the industry&#039;s standard dummy text ever since the 1500s
                </p>
              </div>
            </div>
            <div class="col-md-4 col-sm-4 our_f_item clearfix">
              <div class="feature-icon">
                <i class="fa fa-html5"></i>
              </div>
              <div class="feature-info">
                <h4 class="our_features_items_h edited" >valid HTML pages</h4>
                <p class="our_features_items_p edited">
                  Lorem Ipsum industry. Lorem Ipsum has been the industry&#039;s standard dummy text ever since the 1500s
                </p>
              </div>
            </div>

            <div class="col-md-4 col-sm-4 our_f_item clearfix">
              <div class="feature-icon">
                <i class="fa fa-tablet"></i>
              </div>
              <div class="feature-info">
                <h4 class="our_features_items_h edited" >adaptive design</h4>
                <p class="our_features_items_p edited ">
                  Lorem Ipsum is simply industry. Lorem Ipsum has been the industry&#039;s standard dummy text ever since the 1500s
                </p>
              </div>
            </div>
            <div class="col-md-4 col-sm-4 our_f_item clearfix">
              <div class="feature-icon">
                <i class="fa fa-css3"></i>
              </div>
              <div class="feature-info">
                <h4 class="our_features_items_h edited" >simple animation css3</h4>
                <p class="our_features_items_p edited">
                  Lorem Ipsum is simply  industry. Lorem Ipsum has been the industry&#039;s standard dummy text ever since the 1500s
                </p>
              </div>
            </div>
            <div class="col-md-4 col-sm-4 our_f_item clearfix">
              <div class="feature-icon">
                <i class="fa fa-globe"></i>
              </div>
              <div class="feature-info">
                <h4 class="our_features_items_h edited">google maps API support</h4>
                <p class="our_features_items_p edited">
                  Lorem Ipsum industry. Lorem Ipsum has been the industry&#039;s standard dummy text ever since the 1500s
                </p>
              </div>
            </div>

            <div class="col-md-4 col-sm-4 our_f_item clearfix">
              <div class="feature-icon">
                <i class="fa fa-paint-brush"></i>
              </div>
              <div class="feature-info">
                <h4 class="our_features_items_h edited" >color selection</h4>
                <p class="our_features_items_p edited ">
                  Lorem Ipsum is simply industry. Lorem Ipsum has been the industry&#039;s standard dummy text ever since the 1500s
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <!-- reviews-item-1 -->
  <div class="our_features">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h3 class="edited">Reviews</h3>
          <div class="line_y"></div>
          <p class="our_features_p edited">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          </p>
        </div>
      </div>
    </div>
    <div class="reviews">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div id="owl-demo-person" class="owl-carousel owl-theme">

              <div class="item">
                <div class="person-item">
                  <div class="person">
                    <img src="images/members_img4.jpg" alt="">
                    <div class="person-info"> <strong>Marylin Hatson</strong> <em>Designer</em>
                    </div>
                  </div>
                  <p class="reviews-feedback" style="height: 120px;">
                    Tempor invidunt ut labore et dolore Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
                  </p>
                </div>
              </div>
              <div class="item">
                <div class="person-item">
                  <div class="person">
                    <img src="images/members_img4.jpg" alt="">
                    <div class="person-info"> <strong>Marylin Hatson</strong> <em>Designer</em>
                    </div>
                  </div>
                  <p class="reviews-feedback" style="height: 120px;">
                    Tempor invidunt ut labore et dolore Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
                  </p>
                </div>
              </div>
              <div class="item">
                <div class="person-item">
                  <div class="person">
                    <img src="images/members_img4.jpg" alt="">
                    <div class="person-info">
                      <strong>Marylin Hatson</strong>
                      <em>Designer</em>
                    </div>
                  </div>
                  <p class="reviews-feedback" style="height: 150px;">
                    Tempor invidunt ut labore et dolore Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
                  </p>
                </div>
              </div>

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- reviews-4-column -->

  <div class="our_features">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h3 class="edited">Reviews</h3>
          <div class="line_y"></div>
          <p class="our_features_p edited">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          </p>
        </div>
      </div>
    </div>
    <div class="reviews reviews-4-column">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div id="owl-demo-person1" class="owl-carousel owl-theme">

              <div class="item">
                <div class="person-item">
                  <div class="person">
                    <img src="images/members_img4.jpg" alt="">
                    <div class="person-info">
                      <strong>Marylin Hatson</strong>
                      <em>Designer</em>
                    </div>
                  </div>
                  <p class="reviews-feedback">
                    Tempor invidunt ut labore et dolore Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
                  </p>
                </div>
              </div>
              <div class="item">
                <div class="person-item">
                  <div class="person">
                    <img src="images/members_img4.jpg" alt="">
                    <div class="person-info">
                      <strong>Marylin Hatson</strong>
                      <em>Designer</em>
                    </div>
                  </div>
                  <p class="reviews-feedback">
                    Tempor invidunt ut labore et dolore Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
                  </p>
                </div>
              </div>
              <div class="item">
                <div class="person-item">
                  <div class="person">
                    <img src="images/members_img4.jpg" alt="">
                    <div class="person-info">
                      <strong>Marylin Hatson</strong>
                      <em>Designer</em>
                    </div>
                  </div>
                  <p class="reviews-feedback">
                    Tempor invidunt ut labore et dolore Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
                  </p>
                </div>
              </div>
              <div class="item">
                <div class="person-item">
                  <div class="person">
                    <img src="images/members_img4.jpg" alt="">
                    <div class="person-info">
                      <strong>Marylin Hatson</strong>
                      <em>Designer</em>
                    </div>
                  </div>
                  <p class="reviews-feedback">
                    Tempor invidunt ut labore et dolore Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
                  </p>
                </div>
              </div>
              <div class="item">
                <div class="person-item">
                  <div class="person">
                    <img src="images/members_img4.jpg" alt="">
                    <div class="person-info">
                      <strong>Marylin Hatson</strong>
                      <em>Designer</em>
                    </div>
                  </div>
                  <p class="reviews-feedback">
                    Tempor invidunt ut labore et dolore Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
                  </p>
                </div>
              </div>
              <div class="item">
                <div class="person-item">
                  <div class="person">
                    <img src="images/members_img4.jpg" alt="">
                    <div class="person-info">
                      <strong>Marylin Hatson</strong>
                      <em>Designer</em>
                    </div>
                  </div>
                  <p class="reviews-feedback">
                    Tempor invidunt ut labore et dolore Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
                  </p>
                </div>
              </div>
              <div class="item">
                <div class="person-item">
                  <div class="person">
                    <img src="images/members_img4.jpg" alt="">
                    <div class="person-info">
                      <strong>Marylin Hatson</strong>
                      <em>Designer</em>
                    </div>
                  </div>
                  <p class="reviews-feedback">
                    Tempor invidunt ut labore et dolore Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
                  </p>
                </div>
              </div>
              <div class="item">
                <div class="person-item">
                  <div class="person">
                    <img src="images/members_img4.jpg" alt="">
                    <div class="person-info">
                      <strong>Marylin Hatson</strong>
                      <em>Designer</em>
                    </div>
                  </div>
                  <p class="reviews-feedback">
                    Tempor invidunt ut labore et dolore Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
                  </p>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- steps-1 -->

  <div class="our_features steps">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h3 class="edited">Steps</h3>
          <div class="line_y"></div>
          <p class="our_features_p edited">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          </p>
        </div>
      </div>
    </div>

  </div>
  <!-- steps-2 -->
  <section id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <ul class="timeline">
            <li class="clearfix">
              <div class="timeline-image">
                <img class="img-circle img-responsive" src="images/v1.jpg" height="470" width="450" alt=""></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4 class="subheading">Our Humble Beginnings</h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!
                  </p>
                </div>
              </div>
            </li>
            <li class="timeline-inverted clearfix">
              <div class="timeline-image">
                <img class="img-circle img-responsive" src="images/v2.jpg" height="470" width="450" alt=""></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4 class="subheading">An Agency is Born</h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!
                  </p>
                </div>
              </div>
            </li>
            <li class="clearfix">
              <div class="timeline-image">
                <img class="img-circle img-responsive" src="images/v3.jpg" height="470" width="450" alt=""></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4 class="subheading">Transition to Full Service</h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!
                  </p>
                </div>
              </div>
            </li>
            <li class="timeline-inverted clearfix">
              <div class="timeline-image">
                <img class="img-circle img-responsive" src="images/v4.jpg" height="470" width="450" alt=""></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4 class="subheading">Phase Two Expansion</h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!
                  </p>
                </div>
              </div>
            </li>

          </ul>
        </div>
      </div>
    </div>
  </section>
  <!-- projects -->
  <div class="our_features projects happy">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h3 class="edited" id="edited_indexLoLatestprojecte">Latest projects</h3>
          <div class="line_y"></div>
          <p class="our_features_p edited" id="edited_indexLoLatestprojectepp">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          </p>
          <div class="similar-projects">

            <div class="similar-projects-list-item grey-s clearfix">
              <div class="similar-projects-list-item-left pull-left">

                <div class="open-leaf2  pull-left">

                  <img src="images/f-project.jpg" class="img-responsive" height="50" width="50" alt=""></div>

                <div class="similar-projects-list-item-inf">
                  <a href="#">psd</a>
                  <p>
                    <strong class='edited'>Category:</strong>
                    design
                  </p>
                </div>
              </div>
              <div class="similar-projects-list-item-right pull-right">
                <p class="similar-price">
                  <strong>$900 / Month</strong>
                </p>
                <div class="latest-similar">
                  <p class="similar-time">
                    <i class="fa fa-clock-o"></i>
                    3 weeks ago
                  </p>
                  <a href="#">
                    <p class="similar-proposals">
                      <i class="fa fa-comment"></i>
                      No Comments
                    </p>
                  </a>
                </div>

              </div>
            </div>
            <div class="similar-projects-list-item grey-s clearfix">
              <div class="similar-projects-list-item-left pull-left">

                <div class="open-leaf2  pull-left">

                  <img src="images/f-project.jpg" class="img-responsive" height="50" width="50" alt=""></div>

                <div class="similar-projects-list-item-inf">
                  <a href="#">Radical &#8211; Single Page PSD Template</a>
                  <p>
                    <strong class='edited' >Category:</strong>
                    programmer
                  </p>
                </div>
              </div>
              <div class="similar-projects-list-item-right pull-right">
                <p class="similar-price">
                  <strong>$1000 / Month</strong>
                </p>
                <div class="latest-similar">
                  <p class="similar-time">
                    <i class="fa fa-clock-o"></i>
                    1 month ago
                  </p>
                  <a href="#">
                    <p class="similar-proposals">
                      <i class="fa fa-comment"></i>
                      No Comments
                    </p>
                  </a>
                </div>

              </div>
            </div>
            <div class="similar-projects-list-item grey-s clearfix">
              <div class="similar-projects-list-item-left pull-left">

                <div class="open-leaf2  pull-left">

                  <img src="images/f-project.jpg" class="img-responsive" height="50" width="50" alt=""></div>

                <div class="similar-projects-list-item-inf">
                  <a href="#">Wedding Event Invite PSD</a>
                  <p>
                    <strong class='edited' >Category:</strong>
                    programmer
                  </p>
                </div>
              </div>
              <div class="similar-projects-list-item-right pull-right">
                <p class="similar-price">
                  <strong>$1400 / Month</strong>
                </p>
                <div class="latest-similar">
                  <p class="similar-time">
                    <i class="fa fa-clock-o"></i>
                    1 month ago
                  </p>
                  <a href="#">
                    <p class="similar-proposals">
                      <i class="fa fa-comment"></i>
                      No Comments
                    </p>
                  </a>
                </div>

              </div>
            </div>
            <div class="similar-projects-list-item grey-s clearfix">
              <div class="similar-projects-list-item-left pull-left">

                <div class="open-leaf2  pull-left">

                  <img src="images/f-project.jpg" class="img-responsive" height="50" width="50" alt=""></div>

                <div class="similar-projects-list-item-inf">
                  <a href="#">Auto Dealer</a>
                  <p>
                    <strong class='edited'>Category:</strong>
                    design
                  </p>
                </div>
              </div>
              <div class="similar-projects-list-item-right pull-right">
                <p class="similar-price">
                  <strong>$1900 / Month</strong>
                </p>
                <div class="latest-similar">
                  <p class="similar-time">
                    <i class="fa fa-clock-o"></i>
                    1 month ago
                  </p>
                  <a href="#">
                    <p class="similar-proposals">
                      <i class="fa fa-comment"></i>
                      No Comments
                    </p>
                  </a>
                </div>

              </div>
            </div>
            <div class="similar-projects-list-item grey-s clearfix">
              <div class="similar-projects-list-item-left pull-left">

                <div class="open-leaf2  pull-left">

                  <img src="images/f-project.jpg" class="img-responsive" height="50" width="50" alt=""></div>

                <div class="similar-projects-list-item-inf">
                  <a href="#">OptimApp &#8211; Responsive Business &#038; Technology PSD</a>
                  <p>
                    <strong class='edited'  >Category:</strong>
                    programmer
                  </p>
                </div>
              </div>
              <div class="similar-projects-list-item-right pull-right">
                <p class="similar-price">
                  <strong>$1500 / Month</strong>
                </p>
                <div class="latest-similar">
                  <p class="similar-time">
                    <i class="fa fa-clock-o"></i>
                    1 month ago
                  </p>
                  <a href="#">
                    <p class="similar-proposals">
                      <i class="fa fa-comment"></i>
                      No Comments
                    </p>
                  </a>
                </div>

              </div>
            </div>
            <div class="similar-projects-list-item grey-s clearfix">
              <div class="similar-projects-list-item-left pull-left">

                <div class="open-leaf2  pull-left">

                  <img src="images/f-project.jpg" class="img-responsive" height="50" width="50" alt=""></div>

                <div class="similar-projects-list-item-inf">
                  <a href="#">BLURI Single Page Template</a>
                  <p>
                    <strong class='edited'>Category:</strong>
                    design
                  </p>
                </div>
              </div>
              <div class="similar-projects-list-item-right pull-right">
                <p class="similar-price">
                  <strong>$1800 / Month</strong>
                </p>
                <div class="latest-similar">
                  <p class="similar-time">
                    <i class="fa fa-clock-o"></i>
                    1 month ago
                  </p>
                  <a href="#">
                    <p class="similar-proposals">
                      <i class="fa fa-comment"></i>
                      No Comments
                    </p>
                  </a>
                </div>

              </div>
            </div>
            <div class="similar-projects-list-item grey-s clearfix">
              <div class="similar-projects-list-item-left pull-left">

                <div class="open-leaf2  pull-left">

                  <img src="images/f-project.jpg" class="img-responsive" height="50" width="50" alt=""></div>

                <div class="similar-projects-list-item-inf">
                  <a href="#">Wonky Sushi &#8211; Tasty PSD Template</a>
                  <p>
                    <strong class='edited'  >Category:</strong>
                    design
                  </p>
                </div>
              </div>
              <div class="similar-projects-list-item-right pull-right">
                <p class="similar-price">
                  <strong>$1100 / Month</strong>
                </p>
                <div class="latest-similar">
                  <p class="similar-time">
                    <i class="fa fa-clock-o"></i>
                    1 month ago
                  </p>
                  <a href="#">
                    <p class="similar-proposals">
                      <i class="fa fa-comment"></i>
                      No Comments
                    </p>
                  </a>
                </div>

              </div>
            </div>
            <div class="similar-projects-list-item grey-s clearfix">
              <div class="similar-projects-list-item-left pull-left">

                <div class="open-leaf2  pull-left">

                  <img src="images/f-project.jpg" class="img-responsive" height="50" width="50" alt=""></div>

                <div class="similar-projects-list-item-inf">
                  <a href="#">My wedding</a>
                  <p>
                    <strong class='edited'  >Category:</strong>
                    programmer
                  </p>
                </div>
              </div>
              <div class="similar-projects-list-item-right pull-right">
                <p class="similar-price">
                  <strong>$500 / Month</strong>
                </p>
                <div class="latest-similar">
                  <p class="similar-time">
                    <i class="fa fa-clock-o"></i>
                    1 month ago
                  </p>
                  <a href="#">
                    <p class="similar-proposals">
                      <i class="fa fa-comment"></i>
                      No Comments
                    </p>
                  </a>
                </div>

              </div>
            </div>
            <div class="similar-projects-list-item grey-s clearfix">
              <div class="similar-projects-list-item-left pull-left">

                <div class="open-leaf2  pull-left">

                  <img src="images/f-project.jpg" class="img-responsive" height="50" width="50" alt=""></div>

                <div class="similar-projects-list-item-inf">
                  <a href="#">CreoBIZ &#8211; Corporate / Creative PSD Templat</a>
                  <p>
                    <strong class='edited'>Category:</strong>
                    programmer
                  </p>
                </div>
              </div>
              <div class="similar-projects-list-item-right pull-right">
                <p class="similar-price">
                  <strong>$1600 / Month</strong>
                </p>
                <div class="latest-similar">
                  <p class="similar-time">
                    <i class="fa fa-clock-o"></i>
                    1 month ago
                  </p>
                  <a href="#">
                    <p class="similar-proposals">
                      <i class="fa fa-comment"></i>
                      No Comments
                    </p>
                  </a>
                </div>

              </div>
            </div>
            <div class="similar-projects-list-item grey-s clearfix">
              <div class="similar-projects-list-item-left pull-left">

                <div class="open-leaf2  pull-left">

                  <img src="images/f-project.jpg" class="img-responsive" height="50" width="50" alt=""></div>

                <div class="similar-projects-list-item-inf">
                  <a href="#">Moon PSD Template</a>
                  <p>
                    <strong class='edited'  >Category:</strong>
                    programmer
                  </p>
                </div>
              </div>
              <div class="similar-projects-list-item-right pull-right">
                <p class="similar-price">
                  <strong>$1500 / Month</strong>
                </p>
                <div class="latest-similar">
                  <p class="similar-time">
                    <i class="fa fa-clock-o"></i>
                    1 month ago
                  </p>
                  <a href="#">
                    <p class="similar-proposals">
                      <i class="fa fa-comment"></i>
                      No Comments
                    </p>
                  </a>
                </div>

              </div>
            </div>
            <div class="gradient_bg"></div>
          </div>
        </div>
      </div>
      <div class="row text-center">
        <div class="col-md-12">
          <a href="#" class="view">View all posts</a>
        </div>
      </div>
    </div>

  </div>
  <!-- statistic   -->
  <div class="static parallax-window" data-parallax="scroll" data-image-src="http://freelance.vioo.ru/wp-content/themes/frame_fl/images/manypeople.jpg">

    <div class="container">
      <div class="row text-center static_members">
        <div class="col-sm-3 col-md-3">
          <h1>
            <span class="left"></span>
            <span class='edited' id='edited_subm1024'>1024</span>
            <span class="right"></span>
          </h1>
          <p class='static_one edited' id='edited_sm1'>members</p>
          <p class='static_two edited' id='edited_sm2'>tota</p>
        </div>
        <div class="col-sm-3 col-md-3">
          <h1>
            <span class="left"></span>
            <span class='edited' id='edited_subm293'>22</span>
            <span class="right"></span>
          </h1>
          <p class='static_one edited' id='edited_sm3'>online</p>
          <p class='static_two edited' id='edited_sm4'>users</p>
        </div>
        <div class="col-sm-3 col-md-3">
          <h1>
            <span class="left"></span>
            <span class='edited' id='edited_subm500'>500</span>
            <span class="right"></span>
          </h1>
          <p class='static_one edited' id='edited_sm5'>happy customers</p>
          <p class='static_two edited' id='edited_sm6'>history</p>
        </div>
        <div class="col-sm-3 col-md-3">
          <h1>
            <span class="left"></span>
            <span class='edited' id='edited_subm40'>40</span>
            <span class="right"></span>
          </h1>
          <p class='static_one edited' id='edited_sfamous'>famous</p>
          <p class='static_two edited' id='edited_speople'>people</p>
        </div>
      </div>
    </div>
    <div class="yellow_block">
      <div class="container">
        <div class="row text-center">
          <div class="col-md-12">

            <div class="circle_tw">
              <i class="fa fa-twitter"></i>
            </div>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo?
            </p>
            <div class="dashed_line"></div>
            <div class="col-md-12">
              <div class="date_author">
                <!--p class="date_author_p">22.11.2014 pubDate</p-->
              <p>twitter</p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="home_slider_wrapper"></div>
</div>
<!-- user_map -->
<div class="user_map our_features">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3 class='edited' id='edited_indexContrarytLatestprojectsf'>Users on map</h3>
        <div class="line_y"></div>
        <p class="our_features_p edited" id='edited_indexContrarytLatestprojectsfpp'>
          Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        </p>
      </div>
    </div>
  </div>

  <div id="map"></div>

</div>
{% endblock %}
{% block javascripts %}
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA5ikxbQmwA09L9fzc4jCS6XnFW26lpAYQ&libraries=places" type="text/javascript"></script>

    {{ encore_entry_script_tags('adress') }}
{% endblock %}

