{% extends 'base.html.twig' %}

{% block body %}
    <div id="map-container" class="">
        <div id="map" class="map"></div>
    </div>
{% endblock %}

{% block javascripts %}

    <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
            integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
            crossorigin=""></script>
    {{ encore_entry_script_tags('map') }}

    {#<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA5ikxbQmwA09L9fzc4jCS6XnFW26lpAYQ&callback=initGeocoding"></script>#}

{% endblock %}