<div class="container">
    <div class="join-wrap fl-wrap">
        <div class="row">
            <div class="col-md-8">
                <h3>Rejoignez note communauté</h3>
                <p>Grow your marketing and be happy with your online business</p>
            </div>
            <div class="col-md-4"><a href="#" class="join-wrap-btn modal-open">S'inscrire <i class="fa fa-sign-in"></i></a></div>
        </div>
    </div>
</div>
