<section class="color-bg">
    <div class="shapes-bg-big"></div>
    <div class="container">
        <div class=" single-facts fl-wrap">
            {# inline-facts #}
            <div class="inline-facts-wrap">
                <div class="inline-facts">
                    <div class="milestone-counter">
                        <div class="stats animaper">
                            <div class="num" data-content="0" data-num="{{usersCount}}"></div>
                        </div>
                    </div>
                    <h6>Nombre d'utilisateurs</h6>
                </div>
            </div>
            <div class="inline-facts-wrap">
                <div class="inline-facts">
                    <div class="milestone-counter">
                        <div class="stats animaper">
                            <div class="num" data-content="0" data-num="{{mealsCount}}"></div>
                        </div>
                    </div>
                    <h6>Nombre de repas déjà partagés</h6>
                </div>
            </div>
        </div>
    </div>
</section>